@import url("fonts.css");

/* Globals */
html {
	/* Sizes */
	--mobile-size: 23.43rem;
	--desktop-size: 90rem;
	/* Colors */
	/* Primary Colors */
	--primary-marine-blue: hsl(213, 96%, 18%);
	--primary-purplish-blue: hsl(243, 100%, 62%);
	--primary-pastel-blue: hsl(228, 100%, 84%);
	--primary-light-blue: hsl(206, 94%, 87%);
	--primary-strawberry-red: hsl(354, 84%, 57%);
	/* Neutral Colors */
	--neutral-cool-gray: hsl(231, 11%, 63%);
	--neutral-light-gray: hsl(229, 24%, 87%);
	--neutral-magnolia: hsl(217, 100%, 97%);
	--neutral-alabaster: hsl(231, 100%, 99%);
	--neutral-white: hsl(0, 0%, 100%);
	/* Hard coded colors */
	--checkbox-color: hsl(230, 75%, 98%);

	/* Typography */
	/* Body */
	--body-size: 1rem;
	--font-family-regular: "Ubuntu Regular", sans-serif;
	--font-family-medium: "Ubuntu Medium", sans-serif;
	--font-family-bold: "Ubuntu Bold", sans-serif;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-bold: 700;

	/* Others */
	--outer-border-radius: 1rem;
	--border-radius-large: 50%;
	--padding-small: 0.625rem;
	--padding-normal: 1rem;
	--padding-large: 1.5rem;
	--padding-very-large: 6rem;

	--sidebar-radio-size: 2rem;

	/* --form-head-body-gap: 2.625rem; */
	--form-head-body-gap: 3rem;

	--plan-btn-height: 10rem;
	--plan-btn-width: 8.5rem;
	--plan-item-img: 2.625rem;

	/* Addons */
	--addon-height: 5rem;
}

html {
	overflow: auto;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
}

.App {
	background-color: var(--neutral-magnolia);
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Remove all default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-bold);
	font-weight: var(--weight-bold);
}

p {
	font-family: var(--font-family-regular);
	font-weight: var(--weight-regular);
}

.center {
	width: 58.75rem;
	aspect-ratio: 1.5;
	background-color: var(--neutral-white);
	border-radius: var(--outer-border-radius);
	padding: var(--padding-normal);
	display: flex;
}

.left {
	min-width: 17.125rem;
	height: 100%;
	border-radius: var(--outer-border-radius);
	background: url(/assets/images/bg-sidebar-desktop.svg) no-repeat bottom
		var(--primary-purplish-blue);
	padding: 40px 0 0 var(--padding-large);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.side_bar_item {
	display: flex;
	gap: 1rem;
	padding: var(--padding-small);
	border-radius: 10px;
	width: max-content;
	cursor: pointer;
	user-select: none;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
	outline: none;
}

.side_bar_item:hover,
.side_bar_item:focus {
	background-color: #6ba0aba2;
}

.side_bar_item_left {
	background-color: var(--primary-purplish-blue);
	width: var(--sidebar-radio-size);
	height: var(--sidebar-radio-size);
	border-radius: var(--border-radius-large);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--primary-pastel-blue);
	cursor: pointer;
	color: var(--neutral-white);
	font-family: var(--font-family-bold);
	font-weight: var(--weight-bold);
	transition: all 0.4s ease-in-out;
}

.side_bar_item_left[data-selected="true"] {
	background-color: var(--primary-pastel-blue);
	color: var(--primary-marine-blue);
}

.side_bar_item_right {
	padding-left: var(--padding-small);
	text-transform: uppercase;
	font-size: 1rem;
}
.side_bar_item_right > span {
	font-family: var(--font-family-regular);
	font-weight: var(--weight-regular);
	color: var(--neutral-cool-gray);
}

.side_bar_item_right > h2 {
	font-family: var(--font-family-bold);
	font-weight: var(--weight-bold);
	font-size: 1rem;
	color: var(--neutral-white);
}

.right {
	padding: var(--padding-large);
	padding-top: 40px;
	padding-left: var(--padding-very-large);
	padding-right: calc(var(--padding-very-large) - 1rem);
	width: -webkit-fill-available;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form__head {
	color: var(--primary-marine-blue);
}

.form__p {
	color: var(--neutral-cool-gray);
	margin-top: 1rem;
}

.form {
	margin-top: var(--form-head-body-gap);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.form_item {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.form_item > input {
	border: 1px solid var(--neutral-light-gray);
	border-radius: 8px;
	padding: var(--padding-small);
	font-family: var(--font-family-medium);
	font-weight: var(--weight-medium);
	font-size: var(--body-size);
	color: var(--primary-marine-blue);
	cursor: pointer;
}

.form_item > input::placeholder {
	color: var(--neutral-cool-gray);
}

.form_item > input:focus {
	outline: none;
	border: 1px solid var(--primary-purplish-blue);
}

.label_container > label,
.label_container > span {
	font-family: var(--font-family-medium);
	font-weight: var(--weight-medium);
	font-size: var(--body-size);
	color: var(--primary-marine-blue);
}

.label_container > span {
	color: var(--primary-strawberry-red);
}

.next_step {
	width: fit-content;
	margin-left: auto;
	margin-top: auto;
	padding: var(--padding-small) var(--padding-normal);
	border-radius: 5px;
	color: var(--neutral-white);
	background-color: var(--primary-marine-blue);
	font-family: var(--font-family-medium);
	font-weight: var(--weight-medium);
	cursor: pointer;
}

.input__field--error {
	border: 1px solid var(--primary-strawberry-red) !important;
}

.label_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.next_step:focus {
	outline: 2px solid var(--primary-purplish-blue);
	border: 1px solid var(--neutral-white);
}

.plan_component_parent {
	/* margin-top: var(--form-head-body-gap); */
	display: flex;
	gap: 1rem;
}
.plan_button {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: space-between;
	border: 1px solid var(--neutral-light-gray);
	border-radius: 0.5rem;
	height: var(--plan-btn-height);
	width: var(--plan-btn-width);
	padding: var(--padding-normal);
	cursor: pointer;
	transition: outline 0.2s ease-in-out;
	outline: none;
}

.plan_image {
	width: var(--plan-item-img);
	height: var(--plan-item-img);
}

.plan_name {
	font-family: var(--font-family-bold);
	font-weight: var(--weight-bold);
	font-size: var(--body-size);
	color: var(--primary-marine-blue);
	text-transform: capitalize;
}

.plan_price {
	font-family: var(--font-family-regular);
	font-weight: var(--weight-regular);
	font-size: var(--body-size);
	color: var(--neutral-cool-gray);
}

.plan_button {
	outline: 0;
	user-select: none;
}
/* on clicked plan_button */
.plan_button:hover,
.plan_button:focus {
	outline: 1px solid var(--primary-purplish-blue);
}

.plan_button[data-selected="true"] {
	background-color: var(--neutral-alabaster);
	outline: 2px solid var(--primary-purplish-blue);
}

.checkbox {
	margin-top: 2rem;
	width: 100%;
	height: 3rem;
	background-color: var(--checkbox-color);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}

.form__content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: fit-content;
}

.checkbox > span {
	font-family: var(--font-family-medium);
	font-weight: var(--weight-medium);
	font-size: var(--body-size);
	color: var(--neutral-cool-gray);
	transition: all 0.3s ease-in-out;
}

.checkbox > span[data-selected="true"] {
	color: var(--primary-marine-blue);
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: var(--primary-marine-blue);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--primary-purplish-blue);
}

input:checked + .slider:before {
	transform: translateX(18px);
}

.form_2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.bottom_nav_bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-right: var(--padding-large);
}

.next_step_2 {
	width: fit-content;
	padding: var(--padding-small) var(--padding-normal);
	border-radius: 5px;
	color: var(--neutral-white);
	background-color: var(--primary-marine-blue);
	font-family: var(--font-family-medium);
	font-weight: var(--weight-medium);
	cursor: pointer;
}

.go_back {
	width: fit-content;
	color: var(--neutral-cool-gray);
	font-family: var(--font-family-medium);
	padding: var(--padding-small) var(--padding-normal);

	font-weight: var(--weight-medium);
	background-color: var(--neutral-white);
	border-radius: 5px;

	outline: none;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.go_back:hover {
	color: var(--primary-marine-blue);
}

.go_back:focus {
	outline: 2px solid var(--primary-purplish-blue);
}

.addon {
	height: var(--addon-height);
	display: flex;
	justify-content: space-between;
	border: 1px solid var(--neutral-light-gray);
	border-radius: 0.5rem;
	align-items: center;
	padding: var(--padding-normal);
	transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.addon_1 {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.width-fill {
	width: -webkit-fill-available;
}

.addon_name {
	font-family: var(--font-family-medium);
	font-weight: var(--weight-medium);
	font-size: var(--body-size);
	color: var(--primary-marine-blue);
	text-transform: capitalize;
}

.addon_price {
	color: var(--primary-purplish-blue);
}

.addon_desc {
	font-family: var(--font-family-regular);
	font-weight: var(--weight-regular);
	font-size: var(--body-size);
	color: var(--neutral-cool-gray);
}

.addon:hover,
.addon:focus {
	background-color: var(--neutral-alabaster);
}

.addon:focus {
	outline: 1px solid var(--primary-purplish-blue);
}

.addon[data-selected="true"] {
	background-color: var(--neutral-magnolia);
	border: 2px solid var(--primary-purplish-blue);
	/* outline: 2px solid var(--primary-purplish-blue); */
}

/* .addon_checkbox is a checkbox, make the default checkbox invisible and create a new bigger checkbox */
.addon_checkbox {
	height: 20px;
	width: 20px;

	accent-color: var(--primary-purplish-blue);
}

.plan_summary {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	height: 100%;
	padding: var(--padding-normal);
	background-color: var(--neutral-magnolia);
	border-radius: 5px;
	text-transform: capitalize;
}

.plan_summary_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.plan_summary__head {
	font-family: var(--font-family-medium);
	font-weight: var(--weight-medium);
	font-size: var(--body-size);
	color: var(--primary-marine-blue);
	text-transform: capitalize;
}

.link {
	color: var(--primary-purplish-blue);
	text-decoration: underline;
	font-family: var(--font-family-regular);
	font-weight: var(--weight-regular);
}

.plan_info_price {
	font-family: var(--font-family-medium);
	font-weight: var(--weight-medium);
	font-size: var(--body-size);
	color: var(--primary-marine-blue);
}

.hr {
	border: 1px solid var(--neutral-light-gray);
}

.plan_summary_top_addon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--body-size);
	color: var(--neutral-cool-gray);
}

.addon_items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.plan_details_summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: var(--padding-normal) 0;
	padding: var(--padding-normal);
	color: var(--neutral-cool-gray);
}

.final {
	color: var(--primary-purplish-blue);
}

.thank_you {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 1rem;
}

.thank_you > h1 {
	font-family: var(--font-family-bold);
	font-weight: var(--weight-bold);
	color: var(--primary-marine-blue);
}

.thank_you > p {
	font-family: var(--font-family-regular);
	font-weight: var(--weight-regular);
	color: var(--neutral-cool-gray);
	text-align: center;
}
